{% extends 'base.html' %}

{% block title %}
    Already Exists | {{ block.super }}
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Already Exists!</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>ORIGINAL URL : {{ object.url }}</p>
        <p>SHORTENER URL : <a href="{{ object.get_short_url }}" target="_blank">{{ object.get_short_url }}</a></p>
        {% if object.clicks %}
            <p>Clicked : {{ object.clicks }}</p>
        {% endif %}
        <br>
        <a class="btn btn-primary" href="{% url 'home' %}"> &#43; New </a>
    </div>
{% endblock %}