<style>
  tr, th, td {
    border: 2px solid #ccc;
    text-align: left;
  }
</style>

<div class="table">
  <!-- Analytics Overview Table -->
  <h2>Analytics Overview</h2>
  <table>
    <tr>
      <th>SHORTENER URL</th>
      <th>ORIGINAL URL</th>
      <th>Date Created</th>
      <th>Total Clicks</th>
      <th>Last Clicked</th>
    </tr>
    <td>
      <a href="{{ request.scheme }}://{{ request.get_host }}{{ object.get_short_url }}" >{{ request.scheme }}://{{ request.get_host }}{{ object.get_short_url }}
      </a>
    </td>
    <td>
      <a href="{{ object.url }}" >
        {{ object.url }}
      </a>
    </td>
    <td>{{ object.added|format_timestamp }}</td>
    <td>{{ object.clicks }}</td>
    <td>{{ object.updated|format_timestamp }}</td>
  </table>
</div>

<div class="table">
  <!-- URL Details Table -->
  <h2>Analytics Details</h2>
  <table>
    <tr>
      <th>Country</th>
      <th>Region</th>
      <th>GEO</th>
      <th>PLATFORM</th>
      <th>BROWSER</th>
      <th>IP</th>
      <th>NET PROVIDER</th>
      <th>TIME</th>
    </tr>
    {% for object in object.analytics_data.all %}
      <tr>
        <td>
          {% if object.country and object.country_code %}
            {{ object.country }}, {{ object.country_code }}
          {% endif %}
        </td>
        <td>
          {% if object.region_name and object.city_name %}
            {{ object.region_name }}, {{ object.city_name }}
          {% endif %}
        </td>
        <td>
          {% if object.latitude and object.longitude %}
            {{ object.latitude }}, {{ object.longitude }}
          {% endif %}
        </td>
        <td>
          {% if object.platform and object.platform_version %}
            {{ object.platform }}, {{ object.platform_version }}
          {% endif %}
        </td>
        <td>
          {% if object.browser and object.browser_version %}
            {{ object.browser }}, {{ object.browser_version }}
          {% endif %}
        </td>
        <td>
          {% if object.ip_address and object.ip_address %}
            {{ object.ip_address }}
          {% endif %}
        </td>
        <td>
          {% if object.net_provider and object.net_provider_code %}
            {{ object.net_provider }}, {{ object.net_provider_code }}
          {% endif %}
        </td>
        <td>
          {% if object.timestamp %}
            {{ object.timestamp|format_timestamp }}
          {% endif %}
        </td>
    </tr>
    {% endfor %}
  </table>
    <!-- Date Range Filter -->
  <h2>Date Range Filter</h2>
  <button>Today</button>
  <button>This Week</button>
  <button>This Month</button>
</div>
